/* You can add global styles to this file, and also import other style files */
.ui-dialog {
  position: fixed;
  padding: 0;
  width: 900px;
}
.ui-fieldset .ui-fieldset-legend-text {
  vertical-align: middle;
  font-weight: bold;
}
